.container {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

hr {
  border-top: 2px solid black;
  margin-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-around;
}
