.cardWrap {
  border: 2px solid rgb(66, 46, 195);
  width: 300px;
  position: relative;
  border-radius: 8px;
  background-color: #f6ecec;
}

.cardWrap:hover {
  box-shadow: 12px 12px 2px 1px rgba(126, 126, 145, 0.2);
}

.nameParagraph {
  width: 250px;
  margin-left: 5px;
}

.phoneParagraph {
  width: 180px;
  margin-left: 5px;
}

.button {
  position: absolute;
  top: 32px;
  left: 210px;
  border: 1px solid rgb(66, 46, 195);
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
}

.button:hover {
  background-color: white;
}

.icon {
  margin-right: 10px;
}

.yButton {
  border: 1px solid rgb(66, 46, 195);
  border-radius: 8px;
  cursor: pointer;
  background-color: green;
  font-size: 24px;
}

.yButton:hover {
  background-color: lightgreen;
}

.nButton {
  border: 1px solid rgb(66, 46, 195);
  border-radius: 8px;
  cursor: pointer;
  background-color: red;
  font-size: 24px;
  margin-left: 210px;
}

.nButton:hover {
  background-color: lightcoral;
}
